.cv {
    margin-top: 5rem;
}

.cv__category {
    margin: 2rem 2rem 2rem 1rem;
    padding: 1rem;
    border: 0.1rem solid blue;
    border-radius: 0.8rem;
    box-shadow: 0.5rem 0.5rem 0.1rem lightblue;
}

.cv__head {
    margin: 1rem 0;
    color: darkblue;
}
.position {
    margin: 1.5rem 0 0.1rem 0;
}

.title {
    margin: 1rem;
}

h1, h2, h3 {
    color: darkblue;
}

.skill__contain {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.skills {
    margin-right: 1rem;
}

.date {
    font-size: 0.85rem;
    margin: 0.5rem 0;
}

@media screen and (max-width: 700px) {
    .skill__contain{
        flex-direction: column;
    }
  }